{% extends 'base.html' %}

{% block title %}Alta{% endblock %}

{% block content %}
    <form action="creaalta" method="POST">
        <div class="field">
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" required>
        </div>
        <div class="field">    
            <label for="concepto">Concepto:</label>
            <input type="text" name="concepto" required>
        </div>
        <div class="field">
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" step="0.01" required>
        </div>
        <div class="field">
            <button>Enviar</button>
        </div>
    </form>

{% endblock %}