<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Kakebo 家計簿 - {% block title %}{% endblock %}</title>
<!--        <style>
            * {
                font-family: Arial, Helvetica, sans-serif;
            }
            
            body{
                background-color: lightgray;
            }

            header {
                color: white;
                background-color: blueviolet;
            }

            h1 {
                padding-left: 5px;
            }
        </style> -->
    </head>
    <body>
        <header>
            <h1>Kakebo 家計簿</h1>
        </header>

        <section>
            {% block content %}{% endblock %}
        </section>

        <footer>
            &copy;2020 - 2021. Todos los derechos reservados
        </footer>
    </body>
</html>